.about {
  margin-top: 71px;
}

.judul {
  margin: 20px 0 0 10px;
}

.konten {
  margin: 20px 0 0 10px;
  text-align: center;
}

.flexcolumn {
  display: flex;
  margin-top: 15px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
