.home {
  margin-top: 55px;
}
.info {
  margin-top: 70px;
  height: 550px;
}
.info-bg {
  height: 500px;
  width:900px;
  margin: 0 auto;
  border-radius: 20px;
  background-image: url(../public/Ibadah.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.info-bg-event {
  height: 500px;
  width:900px;
  margin: 0 auto;
  border-radius: 20px;
  background-image: url(../public/AcaraBesar.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  margin-top: 30px;
  border-radius :20px;
}
.card a{
  text-decoration: none;
  color: white;
}
.card a:hover{
  color: rgb(243, 23, 23);
}