.home {
  margin-top: 55px;
}
.info {
  margin-top: 70px;
  height: 550px;
}
.info-bg {
  height: 500px;
  width: 900px;
  margin: 0 auto;
  border-radius: 20px;
  background-image: url(../public/Ibadah.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.info-bg-event {
  height: 500px;
  width: 900px;
  margin: 0 auto;
  border-radius: 20px;
  background-image: url(../public/AcaraBesar.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .info-bg {
    width: 400px;
    height: 500px;
  }
  .bawahan {
    display: flex;
    flex-direction: column;
  }
}
.card {
  margin-top: 30px;
  border-radius: 20px;
}
.card a {
  text-decoration: none;
  color: white;
}
.card a:hover {
  color: rgb(243, 23, 23);
}
.main-pengurus {
  margin-top: 60px;
  /* border: 1px solid black; */
}
.pembina {
  width: 200px;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.bawahan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.bawahan h5 {
  font-size: 12px;
}
.bph {
  margin-top: 30px;
}
